<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="success">
            {{'LOGIN.HEADER' | translate}}
          </ion-card-title>
          <ion-card-subtitle
            >{{'LOGIN.SUBHEADER' | translate}}</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating"
              >{{'LOGIN.EMAIL' | translate}}</ion-label
            >
            <ion-input
              type="email"
              formControlName="email"
              [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate"
            ></ion-input>
          </ion-item>
          <app-error-message
            [field]="$any(form).get('email')"
            [error]="'email'"
            [message]="'LOGIN.ERRORS.EMAIL' | translate"
          ></app-error-message>
          <app-error-message
            [field]="$any(form).get('email')"
            [error]="'required'"
            [message]="'LOGIN.ERRORS.EMAIL_EMPTY' | translate"
          ></app-error-message>
          <ion-item>
            <ion-label position="floating"
              >{{'LOGIN.PASSWORD' | translate}}</ion-label
            >
            <ion-input
              [type]="inputType"
              formControlName="password"
              [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
            ></ion-input>
            <ion-icon
              [name]="(inputType === 'password') ? 'eye-off' : 'eye'"
              slot="end"
              (click)="inputType = (inputType === 'password') ? 'text' : 'password';"
            ></ion-icon>
          </ion-item>
          <app-error-message
            [field]="$any(form).get('password')"
            [error]="'required'"
            [message]="'LOGIN.ERRORS.PASSWORD' | translate"
          ></app-error-message>
          <ion-button
            [disabled]="form.get('email')?.invalid"
            (click)="onForgotEmailPassword()"
            class="ion-text-wrap"
            fill="clear"
            color="dark"
            size="full"
            >{{'LOGIN.FORGOT' | translate}}</ion-button
          >
          <ion-button
            [disabled]="form.invalid"
            (click)="onLogin()"
            fill="solid"
            color="success"
            expand="block"
            >{{'LOGIN.LOGIN' | translate}}</ion-button
          >
          <ion-button
            (click)="onRegister()"
            fill="clear"
            color="success"
            expand="full"
            >{{'LOGIN.REGISTER' | translate}}</ion-button
          >
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
