<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>{{ "APP.TITLE" | translate }}</ion-list-header>
          <ion-note>{{ "APP.SUBTITLE" | translate }}</ion-note>

          <ion-list>
            <ion-list-header>{{
              "SIDE_MENU.LANG_SELECTION.TITLE" | translate
            }}</ion-list-header>
            <ion-item>
              <ion-select
                interface="action-sheet"
                [placeholder]="'SIDE_MENU.LANG_SELECTION.OPTION' | translate"
                (ionChange)="selectLanguage($event)"
              >
                <ion-select-option
                  *ngFor="let language of supportedLanguages"
                  [value]="language"
                  >{{
                    "SIDE_MENU.LANG_SELECTION." + language
                      | uppercase
                      | translate
                  }}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let page of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[page.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="page.icon + '-outline'"
                [md]="page.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <app-loading></app-loading>
</ion-app>
